<!DOCTYPE html>
<html>
<head>
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    SONAR ENTERPRISE
</header>

<div class="container">

    <div class="menu">
        <a href="/dashboard">
            <button class="btn">Voltar</button>
        </a>
    </div>

    <div class="card">
        <h2>Cadastrar Novo Produto</h2>

        <form action="/adicionar" method="POST">
            <input type="text" name="nome" placeholder="Nome do Produto" required>
            <input type="number" name="quantidade" placeholder="Quantidade" required>
            <input type="text" name="localizacao" placeholder="Localização" required>

            <button class="btn" type="submit">Cadastrar</button>
        </form>
    </div>

</div>

</body>
</html>
