<!DOCTYPE html>
<html>
<head>
<title>Dashboard - Estoque Certo</title>
</head>

<body>

<img src="/static/logo.png" width="120">

<h1>Dashboard</h1>
<h3>Sonar Enterprise</h3>

<br>

<a href="/cadastrar">
<button>Cadastrar Item</button>
</a>

<br><br>

<a href="/baixar">
<button>Dar baixa em item</button>
</a>

<br><br>

<h2>Estoque</h2>

<table border="1">

<tr>
<th>ID</th>
<th>Código</th>
<th>Produto</th>
<th>Quantidade</th>
<th>Rua</th>
<th>Prateleira</th>
<th>Nível</th>
</tr>

{% for item in itens %}
<tr>

<td>{{item[0]}}</td>
<td>{{item[1]}}</td>
<td>{{item[2]}}</td>
<td>{{item[3]}}</td>
<td>{{item[4]}}</td>
<td>{{item[5]}}</td>
<td>{{item[6]}}</td>

</tr>
{% endfor %}

</table>

<br><br>

<a href="/">
<button>Sair</button>
</a>

</body>
</html>
